Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/fbx/0524/fbx/图层_19.uasset
Content/fbx/Material/caizhihanshu.uasset
Content/fbx/Material/canshuji.uasset
Content/BambooValley/Textures/T_Grass02_D.uasset.baiduyun.uploading.cfg
Content/BambooValley/Textures/T_Grass03_D.uasset.baiduyun.uploading.cfg
Content/BambooValley/Textures/T_Grass03_N.uasset.baiduyun.uploading.cfg
Content/BambooValley/Textures/T_Grass04_D.uasset.baiduyun.uploading.cfg
Content/BambooValley/Textures/T_Grass04_N.uasset.baiduyun.uploading.cfg
